# Roku device settings (required for npm test, npm run sample)
ROKU_DEV_TARGET=192.168.1.100
ROKU_DEV_USERNAME=rokudev
ROKU_DEV_PASSWORD=your_dev_password

# Roku Static Channel Analysis tool (required for npm run sca-test, npm run sca-sample)
# Download from http://devtools.web.roku.com/#static-channel-analysis-tool (requires Java 21)
ROKU_SCA=./sca-cmd/bin/sca-cmd
