# Roku
out
sca-cmd

# ROPM
roku_modules

# NPM
node_modules
*/package-lock.json
.npmrc

# Java
.java-version

# JetBrains
.idea

# Visual Studio Code
.vscode

# Windsurf
.windsurf

# Claude
.claude

# Mac OS
.DS_Store

# Sample App
sample/credentials.json

# Local environment variables
.env
